.c1{
    font-size: 34px;
    color: rgb(113, 147, 4);
    font-style: italic;
    font-weight: bold;
}

.c2
{
    font-size: 45px;
    color: rgb(71, 12, 220);
    font-style: italic;
    font-weight: bolder;
}