/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* @layer components{
    
 .btn{
    @apply border
    border-gray-400 rounded-full px-4 py-1 
    font-semibold hover:text-white;
} 


.btn-lightRed {
    @apply  text-red-400  hover:bg-blue-500  focus:ring-2 focus:ring-fuchsia-600  focus:ring-offset-2 dark:focus:ring-offset-gray-700
}

.btn-green {
    @apply  text-green-600   hover:bg-green-500 focus:ring-2 focus:ring-fuchsia-600 focus:ring-offset-2 dark:focus:ring-offset-gray-700
}
} */


@varient hover{
    .rotate-0{
        transform:rotate(90deg);
    }
}


